.clients {
    &__headline {
        @extend %headline;
        @include desktop {
            @include font(36, 42, 700, 0.03);
            margin-bottom: 50px; 
        }
    }
    &__list {
        display: flex;
        gap: 30px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        @include mobile {
            width: calc((100% - 30px) / 2);
        }
        @include tablet {
            width: calc((100% - 60px) / 3);
        }
        @include desktop {
            width: calc((100% - 150px) / 6);
        }
    }
    &__link {
        width: calc(100%);
        height: 92px;
        border: 1px solid $icon-fill-color;
        border-radius: 4px;
        fill: $icon-fill-color;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover, &focus {
            fill: $brand-color;
            border-color: $brand-color;
        }
    }
    &--fill-bdr-trans {
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: $trans-timing;
    }
}  