.footer {
    background-color: $third-bgn-color;
    padding: 60px 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 60px;
        column-gap: 165px;
        @include desktop {
            justify-content: left;
            gap: 0;
            align-items: baseline;
        }
    }
    &__wrap {
        text-align: center;
        min-width: 232px;
        @include desktop {
            text-align: left;
        }
    }
    &__address-item {
        &:not(:last-child) {
            margin-bottom: 8px;
            @include desktop {
                margin-bottom: 9px;
            }
        }
    &__address-link {
        @include font(14, 24, 400, 0.03);
        font-style: normal;
        color: $address-color;
        display: inline-block;
        min-width: 231px;
        &:hover, &:focus {
            color: $brand-color;
        }
    }
    &--white-link {
        color: $mr-white;
    }
    &--color-trans {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $trans-timing;
    }
    &__social-menu {
        display: block;
        width: 206px;
        margin-left: 70px;
    }
    &__social-headline {
        @include font (14, 16, 700, 0.03);
        text-transform: uppercase;
        color: $mr-white;
        margin-bottom: 20px;
    }
    &__social-list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__social-icon {
        width: 20px;
        height: 20px;
    }
    &__social-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $social-bgn-color;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $mr-white;
        &:hover, &:focus {
            background-color: $brand-color;
        }
    }
    &--bgn-trans {
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: $trans-timing;
    }
}
}