.hero.section {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
  }

.hero {
    &__headline {
        @include font(26, 42, 900, 0.06);
        text-transform: uppercase;
        color:$mr-white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 360px;
        min-width: min-content;
        @include desktop {
            @include font(44, 60, 900, 0.03);
            min-width: 696px;
        }
    }
    &__hero-bgn {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-color: $hero-bgn-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient($hero-gdn-color, 
        $hero-gdn-color), url("../images/decor/hero.jpg");
    }
    &__button {
        @extend %button;
    }
}