$active-color: #188ce8;
$address-color: rgba(255, 255, 255, 0.6);
$bgn-color: #ffffff;
$border-color: #eeeeee;
$brand-color: #2196f3;
$font-color: #212121;
$font-primary: "Roboto", "Arial", sans-serif;
$func-bgn-color: rgba(47, 48, 58, 0.8);
$hero-bgn-color: #c4c4c4;
$hero-btn-shadow: rgba(0, 0, 0, 0.15);
$hero-gdn-color: rgba(47, 48, 58, 0.4);
$hdr-border-color: #ececec;
$icon-fill-color: #afb1b8;
$input-text-color: rgba(255, 255, 255, 0.6);
$input-bdr-color: rgba(255, 255, 255, 0.3);
$mr-black: #000000;
$mr-white: #ffffff;
$multi-shadow-a: rgba(0, 0, 0, 0.12);
$multi-shadow-b: rgba(0, 0, 0, 0.14);
$multi-shadow-c: rgba(0, 0, 0, 0.2);
$multi-shadow-d: rgba(0, 0, 0, 0.1);
$multi-shadow-e: rgba(0, 0, 0, 0.08);
$multi-shadow-f: rgba(0, 0, 0, 0.12);
$prj-bgn-color: rgba(33, 150, 243, 0.9);
$project-box-shadow: rgba(0, 0, 0, 0.25);
$second-bgn-color: #f5f4fa;
$small-text: #757575;
$social-bgn-color: rgba(255, 255, 255, 0.1);
$third-bgn-color: #2f303a;
$trans-timing: cubic-bezier(0.4, 0, 0.2, 1);

















